@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body {
  background-color: rgb(24, 24, 24);
}
body .background {
  background-image: url(../images/landing_background2.gif);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
body .background .container {
  background-color: rgba(0, 0, 0, 0.842);
  border-radius: 20px;
  width: 70vw;
  height: 90%;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
body .background .container header {
  margin: 3rem;
  width: 100%;
}
body .background .container header nav {
  display: flex;
  justify-content: space-evenly;
}
body .background .container header nav div a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 5px;
  font-family: "Press Start 2P", cursive;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details summary::before {
  font-family: "fontawesome";
  content: "\f0c9";
  color: white;
}

details[open] summary::before {
  font-family: "fontawesome";
  content: "\f0c9";
  color: white;
}

@media screen and (max-width: 476px) {
  header {
    display: flex;
    justify-content: center;
  }
  header nav {
    flex-direction: column;
  }
  header #navDesktop {
    display: none;
  }
  header #dropdown {
    font-size: 3rem;
  }
}
@media screen and (min-width: 477px) and (max-width: 990px) {
  header {
    display: flex;
    justify-content: center;
  }
  header nav {
    flex-direction: column;
  }
  header #navDesktop {
    display: none;
  }
  header #dropdown {
    font-size: 3rem;
  }
}
@media screen and (min-width: 991px) {
  nav {
    flex-direction: row;
  }
  #dropdown {
    display: none;
  }
}
@-webkit-keyframes header {
  from {
    color: white;
  }
  to {
    color: rgb(149, 0, 255);
  }
}
@keyframes header {
  from {
    color: white;
  }
  to {
    color: rgb(149, 0, 255);
  }
}
@-webkit-keyframes colorwheel {
  0% {
    color: white;
  }
  30% {
    color: rgb(70, 70, 255);
  }
  60% {
    color: rgb(149, 0, 255);
  }
  90% {
    color: rgb(255, 0, 0);
  }
  100% {
    color: white;
  }
}
@keyframes colorwheel {
  0% {
    color: white;
  }
  30% {
    color: rgb(70, 70, 255);
  }
  60% {
    color: rgb(149, 0, 255);
  }
  90% {
    color: rgb(255, 0, 0);
  }
  100% {
    color: white;
  }
}
@-webkit-keyframes colorwheel2 {
  0% {
    box-shadow: 0px 0px 10px white;
  }
  30% {
    box-shadow: 0px 0px 10px rgb(70, 70, 255);
  }
  60% {
    box-shadow: 0px 0px 10px rgb(149, 0, 255);
  }
  90% {
    box-shadow: 0px 0px 10px rgb(255, 70, 70);
  }
  100% {
    box-shadow: 0px 0px 10px white;
  }
}
@keyframes colorwheel2 {
  0% {
    box-shadow: 0px 0px 10px white;
  }
  30% {
    box-shadow: 0px 0px 10px rgb(70, 70, 255);
  }
  60% {
    box-shadow: 0px 0px 10px rgb(149, 0, 255);
  }
  90% {
    box-shadow: 0px 0px 10px rgb(255, 70, 70);
  }
  100% {
    box-shadow: 0px 0px 10px white;
  }
}
@-webkit-keyframes colorwheel3 {
  0% {
    text-shadow: 2px 2px 2px rgb(70, 70, 255);
  }
  40% {
    text-shadow: 2px 2px 2px rgb(149, 0, 255);
  }
  80% {
    text-shadow: 2px 2px 2px rgb(255, 0, 0);
  }
  100% {
    text-shadow: 2px 2px 2px rgb(70, 70, 255);
  }
}
@keyframes colorwheel3 {
  0% {
    text-shadow: 2px 2px 2px rgb(70, 70, 255);
  }
  40% {
    text-shadow: 2px 2px 2px rgb(149, 0, 255);
  }
  80% {
    text-shadow: 2px 2px 2px rgb(255, 0, 0);
  }
  100% {
    text-shadow: 2px 2px 2px rgb(70, 70, 255);
  }
}
body .background .container {
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}
body .background .container main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .background .container main #aboutme {
  margin: 8% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .background .container main #aboutme .foto {
  justify-self: center;
  border-radius: 20px;
  box-shadow: 0px 0px 15px white;
  -webkit-animation: colorwheel2 10s linear infinite;
          animation: colorwheel2 10s linear infinite;
}
body .background .container main #aboutme p {
  text-align: center;
  line-height: 4.2rem;
  font-weight: 500;
  margin: 50px;
}
body .background .container main #skills {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
body .background .container main #skills div {
  font-size: 3rem;
}
body .background .container main #skills div h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: "Press Start 2P", cursive;
}
body .background .container main #skills div .skill-line {
  background: rgb(187, 184, 255);
  background: linear-gradient(90deg, rgb(187, 184, 255) 0%, rgb(149, 82, 255) 50%, rgb(254, 141, 255) 75%, rgba(255, 255, 255, 0) 75%);
  background-size: 200%;
  border-radius: 1rem;
  height: 5px;
}
body .background .container footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 3rem;
  width: 100%;
}
body .background .container footer a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

@media screen and (max-width: 476px) {
  #aboutme {
    flex-direction: column;
  }
  #aboutme .foto {
    width: 70%;
  }
  #aboutme #main-txt {
    font-size: 2rem;
  }
  #skills {
    align-items: center;
    height: 500px;
    flex-direction: column;
    margin: 3% 0;
  }
  #skills #coding {
    width: 50%;
  }
  #skills #language {
    width: 50%;
  }
  #html {
    width: 90%;
  }
  #css {
    width: 75%;
  }
  #sass {
    width: 63%;
  }
  #bootstrap {
    width: 35%;
  }
  #german {
    width: 96%;
  }
  #english {
    width: 85%;
  }
}
@media screen and (min-width: 477px) and (max-width: 990px) {
  #aboutme {
    flex-direction: column;
  }
  #aboutme .foto {
    width: 50%;
  }
  #aboutme #main-txt {
    font-size: 2.5rem;
  }
  #skills {
    align-items: center;
    height: 500px;
    flex-direction: column;
    margin: 3% 0;
  }
  #skills #coding {
    width: 50%;
  }
  #skills #language {
    width: 50%;
  }
  #html {
    width: 90%;
  }
  #css {
    width: 75%;
  }
  #sass {
    width: 63%;
  }
  #bootstrap {
    width: 35%;
  }
  #german {
    width: 96%;
  }
  #english {
    width: 85%;
  }
}
@media screen and (min-width: 991px) {
  .foto {
    width: 35%;
  }
  #main-txt {
    font-size: 3rem;
  }
  #skills {
    margin: 8% 0;
  }
  #html {
    width: 350px;
  }
  #css {
    width: 295px;
  }
  #sass {
    width: 250px;
  }
  #bootstrap {
    width: 135px;
  }
  #german {
    width: 390px;
  }
  #english {
    width: 360px;
  }
}
a:hover {
  -webkit-animation: colorwheel3 7s ease-in infinite;
          animation: colorwheel3 7s ease-in infinite;
}/*# sourceMappingURL=main.css.map */